{% extends "layout.html" %}

{% block morehead %}
<link rel="stylesheet" href="{{ path_to_root }}summary.css" type="text/css" />'
<script language=javascript type='text/javascript'>
    hiddenstates = [ ];
    function togglestate(a, c) {
      var start = "a" + a + "c";
      var link = document.getElementById(start + c);
      var state = hiddenstates[a];
      if (!state) state = 0;
      if (state & c) {
        state = state - c;
        link.textContent = '-';
      }
      else {
        state = state | c;
        link.textContent = 'H';
      }
      hiddenstates[a] = state;
      var items = document.getElementsByTagName('span');
      var i = items.length;
      var toggle = "";
      while (i > 0) {
        i--;
        var span = items.item(i);
        if (span.className.substr(0, start.length) == start) {
          var k = span.className.substr(start.length);
          if ((state & k) == k)
            span.style.display = 'none';
          else
            span.style.display = 'block';
        }
      }
    }
</script>
{% endblock %}



{% block content %}
{{ content }}
{% endblock %}
