# -*- mode: python -*-
import py
import sys
import os.path

# ----------------------------------------------------------------
# find and add bot2 to the path
# basedir is a variable set by twisted before exec()ing this file
botdir = os.path.abspath(os.path.join(basedir, '..', 'bot2'))
sys.path.append(botdir)
# ----------------------------------------------------------------

from pypybuildbot.util import load, we_are_debugging

slavePortnum =  "tcp:10407"
httpPortNumber = 8099

# slavename -> password
slaveinfo = load('slaveinfo')
passwords = slaveinfo.passwords

execfile(os.path.join(botdir, 'pypybuildbot', 'master.py'))

if we_are_debugging():
    for builderdict in BuildmasterConfig['builders']:
        valid_slaves = ['localhost']
        for s in builderdict['slavenames']:
            if s in slaveinfo.passwords:
                valid_slaves.append(s)
        builderdict["slavenames"] = valid_slaves
    BuildmasterConfig['buildbotURL'] = "http://localhost:%d/" % (httpPortNumber)
