body {
    font-family: Verdana;
}

.plot {
    width: 600px;
    height: 300px;
}
.miniplot {
    width: 200px;
    height: 100px;
}
.largeplot {
    width: 800px;
    height: 400px;
}
.caption {
    font-size: 14pt;
    font-family: Verdana;
}
.tickLabelY {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.smallcaption {
    font-size: 10pt;
    font-family: Verdana;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
}
